body {
  background-image: linear-gradient(
    to right,
    orange,
    rgb(255, 172, 19),
    rgb(255, 177, 32),
    rgb(255, 179, 38),
    rgb(255, 184, 52)
  );
}
.jingga {
  color: orange;
}

.merah {
  color: red;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}
.list-group-item:hover {
  border: none;
  padding: 20px 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.list-group-item.active {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: linear-gradient(
    to left,
    orange,
    rgb(255, 172, 19),
    rgb(255, 177, 32),
    rgb(255, 179, 38),
    rgb(255, 184, 52)
  );
  color: white;
  font-weight: bold;
  border: none;
}

.bungkus {
  overflow-x: hidden;
}

.sidebar {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

.sidebar .sidebar-head {
  padding: 14px 20px;
  font-size: 20px;
}

.sidebar .list-group {
  width: 240px;
}

.konten-bungkus {
  min-width: 100vw;
}

body.sidebar-toggle .bungkus .sidebar {
  margin-left: 0;
}

@media (min-width: 768px) {
  .sidebar {
    margin-left: 0;
  }

  .konten-bungkus {
    min-width: 0;
    width: 100%;
  }

  body.sidebar-toggle .bungkus .sidebar {
    margin-left: -15rem;
  }
}
.backgroud {
  background-color: white;
  color: black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card .card-title {
  color: #000000;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 500;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.dropdown-toggle::after {
  display: none;
}
a {
  text-decoration: none;
}
